<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS"
        tools:node="remove" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ACAstrologers"
        tools:targetApi="31">
        <activity
            android:name=".ui.CreatePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ChatRequestActivity"
            android:exported="true"
            android:showForAllUsers="true"
            android:showWhenLocked="true"
            android:turnScreenOn="true" />
        <activity
            android:name=".ui.DayChartActivity"
            android:exported="true" />
        <activity
            android:name=".ui.MonthChartActivity"
            android:exported="true" />
        <activity
            android:name=".ui.ResetPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".ui.OtpActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.ForgotPasswordActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".ui.SettingActivity"
            android:exported="true" />
        <activity
            android:name=".ui.DocumentationActivity"
            android:exported="true" />
        <activity
            android:name=".ui.ChatAssistantActivity"
            android:exported="true" />
        <activity
            android:name=".ui.ViewTicketActivity"
            android:exported="true" />
        <activity
            android:name=".ui.HelpSupportActivity"
            android:exported="true" />
        <activity
            android:name=".ui.ChatActivity"
            android:exported="true" />
        <activity
            android:name=".ui.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.WaitListActivity"
            android:exported="true" />
        <activity
            android:name=".ui.ReviewsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".ui.DashboardActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receiver.NetworkChangeReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.AppFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".receiver.FullNotificationReceiver"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>